[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ape"]
	path = ape
	url = https://github.com/emmanuelparadis/ape
[submodule "coalescentMCMC"]
	path = coalescentMCMC
	url = https://github.com/cran/coalescentMCMC
[submodule "distory"]
	path = distory
	url = https://github.com/cran/distory
[submodule "pegas"]
	path = pegas
	url = https://github.com/cran/pegas
